@import url('../css/variable.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid tomato;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}


.div_logo
{
    top: 5px;
    left: 5px
}

.ul_menu {
    display: flex;
    gap: 110px;
    padding-right: 100px;
    color: var(--font-color-1); 

    li{
list-style: none;
font-family: "Montserrat-SemiBold";
}
}


.section_home
{
 background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);
 background-image: linear-gradient(#376E4072),(#071917d5), url("../storage/img/fondo.png");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 140svh;
 padding: 0;
}

.article_home{
    position: relative;
    display: flex;
    width: 626px;
    top : 23.05vw;
    left: 20.138vw;
    height: 360px;
    gap: 15px;
    flex-direction: column;
    color: var(--font-color-1);
}

.article_home span{
    font-size: 28px;
    font-family: "Montserrat-Medium";
}
.article_home h1{
    font-size: 75px;
    font-family: "Montserrat-Medium";
}
.article_home p{
    width: 340px;
    font-family: "Montserrat-Medium";
}
.section_icons {
     background-color: var(--color-gradient-2);
     width: 100%;
        position: absolute;
       display: flex ;
       justify-content: center;
        img{
            width: 69.7916vw;
            height: 4.86vw;
        }}
    
@media (max-width: 960px){
    .header{
        padding: 15px;

    }

    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }

    .section__home{
        display: flex;
        justify-content: space-around;
    }   

    .article__home{
        left: 0;
    }

    .article_home p{
        
    }

    .article_home h1{
        font-size: 70px;
    }

    .section__icon{
        justify-content: space-around
    }

    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

@media (max-width: 576px){
    .header{
        justify-content: normal;
    }

    .div__menu{
        width: 100%;
    }

    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left:  15px;
        padding-right: 15px;
        height: 95svh;
    }


}


.section_imagen1{
    display: flex;
    background-color: var(--color-3);
    padding-top: 32px;
    flex-direction: column;
    

    img{
        background-color: var(--color-3);
        justify-content: center;    
        padding-left: 2svw;
        padding-right: 2svw;
        width: 99svw;
        
    }

    h1{
        color: var(--color-1);
        position: absolute;
        padding-left: 16svh;
        padding-top: 54svw;
        font-size: 6svh;
        font-family: "Montserrat-SemiBold";
        
    }

}

@media (max-width: 960px) {
    .section_imagen1 {
        padding-top: 24px;
    }

    .section_imagen1 img {
        width: 100%;
        padding-left: 1svw;
        padding-right: 1svw;
    }

    .section_imagen1 h1 {
        font-size: 5svh;
    }
}

@media (max-width: 576px) {
    .section_imagen1 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .section_imagen1 h1 {
        font-size: 2svh; 
        padding-top: 53svw;
        padding-left: 10svw;
    }
}



.section_imagen2{
    display: flex;
    background-color: var(--color-3);
    padding-top: 28px;
    flex-direction: column;
    

    img{
        background-color: var(--color-3);
        justify-content: center;    
        padding-left: 2svw;
        padding-right: 2svw;
        width: 99svw;
        
    }

    h1{
        color: var(--color-1);
        position: absolute;
        padding-left: 27svh;
        padding-top: 48svw;
        font-size: 55px;
        font-family: "Montserrat-SemiBold";
        
    }

}


@media (max-width: 960px) {
    .section_imagen2 {
        padding-top: 24px;
    }

    .section_imagen2 img {
        width: 100%;
        padding-left: 1svw;
        padding-right: 1svw;
    }

    .section_imagen2 h1 {
        font-size: 5svh;
    }
}

@media (max-width: 576px) {
    .section_imagen2 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .section_imagen2 h1 {
        font-size: 2svh; 
        padding-top: 46svw;
        padding-left: 10svw;
    }
}


.section_imagen3{
    display: flex;
    background-color: var(--color-3);
    padding-top: 28px;
    flex-direction: column;
    

    img{
        background-color: var(--color-3);
        justify-content: center;    
        padding-left: 2svw;
        padding-right: 2svw;
        width: 99svw;
        
    }

    h1{
        color: var(--color-1);
        position: absolute;
        padding-left: 20svh;
        padding-top: 48svw;
        font-size: 55px;
        font-family: "Montserrat-SemiBold";
        
    }
}


@media (max-width: 960px) {
    .section_imagen3 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .section_imagen3 h1 {
        font-size: 2svh; 
        padding-top: 46svw;
        padding-left: 10svw;
    }
}
@media (max-width: 576px) {
    .section_imagen3 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .section_imagen3 h1 {
        font-size: 2svh; 
        padding-top: 46svw;
        padding-left: 10svw;
    }
}

.title_Carrousel{
    h1{
        background-color: var(--color-3);
        color: var(--color-1);
        font-size: 45px;
        font-family: "Montserrat-SemiBold";   
        padding-left: 5svw;
        padding-top: 3svh;
    }
}

.carrousel 
{
    background-color: var(--color-3);
    display: flex;
    flex-direction: row;
    height: 68svh;
    overflow-x: scroll;

     
    & > .carrousel_items{
        flex: 1;
        flex-grow: 1;
        min-width: 20svw;
        background-color: #145E2A;
        margin: 2svh;
        border-radius: 35px;
        
    }   

  button{
      font-size: 3svh;
      border-radius: 15px;
      margin-left: 11svh;
      height: 48px;
      width: 15svh;
      font-family: "Montserrat_Regular";
    }

    .carrousel_items {
        padding-left: 1svw;
        font-size: 1svw;
        font-family: "Montserrat-SemiBold";
    }

    img{
        padding-top: 1svw;
        width: 18svw;
        height: 26svh;
        border-radius: 30px;
    }

    p{
        padding-top: 2svh;
        padding-block-end: 2svh;
    }

    .div_a{
        height: 5svh;
        width: 8svw;
        background-color: #D9D9D9;
        border-radius: 24px;
        text-align: center;
    }

    div a{
        padding-top: 2svh;
        color: black;
        font-family: "Montserrat-SemiBold";
        font-size: 1svw;
        text-decoration: none;
    
    }

}

   
@media (max-width: 960px){
    .carrousel{
        button{
            font-family: "Montserrat_Regular";
            font-size: 15px;
            border-radius:30px;
            margin-left: 40px;
            height: 4svh;
              }
        }   
}



@media (max-width: 576px) {
    .title_carrousel h1
    {
         font-size: 3svh;
         padding-top: 1svh;
    }

    .carrousel{
        height: 45svh;
        & > .carrousel_items{
            margin: 1svh;
            border-radius: 35px;
            width: 45svw;
            min-width: 50svw;
        }


        .carrousel_items {
                  padding-left: 1svw;
                    font-size: 2.5svw;
                    font-family: "Montserrat-SemiBold";
        }

    }


    .div_a{
            height: 4svh;
            width: 20svw;
            border-radius: 24px;
            text-align: center;
            padding-top: 1.5svw;
            color: black;
            font-family: "Montserrat-SemiBold";
    }

        
    a{
        font-size: 1.5svh;
    }

    

    button{
        font-family: "Montserrat_Regular";
        font-size: 15px;
        border-radius:30px;
        margin-left: 40px;
        height: 4svh;
    }
        

    .img_carrusel
    {
        width: 47svw;
        height: 22svh;
        padding-top: 2svw;
        padding-left: 1svw;
        padding-right: 1svw;
            
    }
    
    p{
        padding-top: 1svh;
        padding-block-end: 1svh;
    }
}    
 
.footer {
    background:var(--color-3);
    display: flex;
    justify-content: center;
    gap: 36px;
    padding-top: 2svw;
}

.body_blog{
    background-color: var(--color-3);
}

.header_blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;
}

.ul_menu_blog{
    display: flex;
    gap: 66px;
    }   